<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <center>
    <h1>Create New Listing</h1>
        <form action="/listings" method="POST">
        <input type="text" name="title" placeholder="Title"><br><br>
        <textarea type="text" name="description" placeholder="Description"></textarea> <br><br>
        <input type="number" name="price" placeholder="Price"> <br><br>
        <input type="text" name="location" placeholder="Location"> <br><br>
        <input type="text" name="country" placeholder="Country"> <br><br>
        <button type="submit">Create Listing</button>
    </form>
    </center>
</body>
</html>